*{
    color: black;
    font-family: Lato;
}
@font-face{
    font-family: Lato;
    src: url(./Lato-Regular.ttf);
}
body{
    background-image:url("../images/patern.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
}
header{
    align-items: center;
    display: flex;
    width: 70%;
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 3em;
}
header>.navigation{
    width: 50%;
    margin-left: 30%;
    align-self: center;
}
header img{
    width:70%;
    height: 70%;
}
a{
    text-decoration: none;
    /* padding: 1em; */
}
.navigation>a{
    padding: 1em;
}
.content{
    width: 70%;
    display: flex;
    margin: 0 auto;
}
.content>img{
    width: 40%;
    height: 40%;
    padding-left: 10%;
}
.content>article{
    margin-right: 2em;
    width: 50%;
}
h2{
    color:#028388;
    line-height: 1.5em;
}
footer{
    background-color: white;
    padding-top: 2em;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0em;
    right: 0em;
}

footer>img{
    padding: 0em 2em;
    height: 6em;

    /* width: 20% */
}
.content-2>article{
    width:100%;
}
.content-2{
    width: 80%;
}
.modules{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.left-bar li{
    list-style: none;
}
.main{
    width: 70%;
    margin: 0 auto;
    display: flex;
}

main{
    flex:1 1 100%;
}
.main>.left-bar{
    width: 20%;
}
.button-choice{
    width: 100%;
    border: none;
    background:initial;
    text-decoration: none;
    text-align: left;
    lighting-color: black;
    /* opacity: 50%; */
    color: #757575;
}
.button-choice:hover{
    opacity: 70%;
}
.module-choice{
    line-height: 1.5em;
    display: inline-block;
}
.module-choice:hover{
    opacity: 70%;
}
.content3{
    width: 60%;
    text-align: center;
}
.content3>article{
    width: max-content;
}
.left-bar>h3, form>h3{
    border-left: 0.5px solid gray;
    padding: 0em 0.5em ;
    font-size: 1em;
}
.modules-content{
    text-align: left;
}
.content-1_2>p, div.content-1_2{
    border: 1px solid lightgrey;
    background-color: rgb(243, 243, 243);
    padding: 2em;
}
ol,ul{
    line-height: 1.5em;
}
.start-button {
    padding: 0.5em 1em;
    border: 1px solid #028388;
    border-radius: 50px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-right: 0;
    margin-top: 2em;
    color: white;
    background-color: #028388;
}
.back-button{
    padding: 0.5em 1em;
    border: 1px solid #028388;
    border-radius: 50px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-left: 0;
    margin-top: 2em;
    color: white;
    background-color: #028388;
}
.start-button:hover{
    color: #028388;
    background-color: white;
}
.back_button:hover{
    color: #028388;
    background-color: white;
}
.attached{
    display: grid;
}
.attached  img{
    /* width: 2em; */
    /* height: 2em; */
    vertical-align: middle;
    margin-right: 1em;
}
.a1_5-list li{
    list-style-position: inside;
}
.a1_5-list{
    padding: 0;
}
.button-black{
    line-height: 1.5em;
    text-align: center;
    align-items: center;
    display: inline-grid;
    text-transform: uppercase;
    background: none;
    border: none;
    color: white;
    background-image:url("../images/modul_kolo_czarne.png");
    background-size:contain;
    /* background-size: contain; */
    width: 12em;
    height: 12em;
    background-repeat: no-repeat;
    /* width: 33%; */
    vertical-align: middle;
    padding: 0.5em;
    margin: 2em;
}
.button-blue{
    line-height: 1.5em;
    align-items: center;
    display: inline-grid;
    text-transform: uppercase;
    background: none;
    border: none;
    color: white;
    background-image:url("../images/modul_kolo_morskie.png");
    /* background-size:contain; */
    background-size: contain;
    width: 12em;
    height: 12em;
    background-repeat: no-repeat;
    /* width: 33%; */
    vertical-align: middle;
    padding: 0.5em;
    margin: 2em;
} 
.button-black:hover, .button-blue:hover{
    opacity: 60%;
    transition: .5s;
}
p{
    line-height: 1.5em;
    font-size:medium;
}
li::first-letter{
    text-transform: uppercase;
}
.attached>a{
    margin: .5em 0;
}
.knowledge>li{
    margin: .5em 0;
}
.back_next{
    display: flex;
}